.wrapper {
  width: 100%;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  
}

.box1 {
  border: 1px dotted lightblue;
  padding: .4em;
  margin: 1em .3em;
}

.box2 {
  border: 1px dotted green;
}
